/* que es flexbox?
Flexbox es un método de diseño de página unidimensional para compaginar elementos en filas o columnas. Los elementos de contenido se ensanchan para rellenar el espacio adicional y se encogen para caber en espacios más pequeños
*/

/* 
Para comenzar, vamos a seleccionar qué elementos se van a presentar como cajas flexibles. Para ello, establecemos un valor especial de display en el elemento padre de los elementos que deseas editar.
*/
#box1{
    display: flex; /*Esto hace que el elemento <section> se convierta en contenedor flex, y sus hijos en elementos flexibles. */ 
}  /*
El elemento al que le hemos dado un valor de display de flex actúa como un elemento a nivel de bloque en términos de cómo interactúa con el resto de la página, pero sus elementos secundarios se presentan como elementos flexibles.
*/



#box1{
    flex-direction: column; /* Los elementos flexbox proporcionan una propiedad llamada flex-direction que especifica en qué dirección corre el eje principa */ 
    /*Muestro solamente la propiedad column ya que por defecto viene la propiedad row
    tambien se puede usar para que se vean los elementos en orden contrario
    row-verse
    column-verse*/   
}

#box1{
    flex-wrap: wrap; /* especifica si los elementos "hijos" son obligados a permanecer en una misma línea o pueden fluir en varias líneas.   */
   
}
/*
una propiedad abreviada para flex-direction y flex-wrap: flex-flow.
*/

#box1{
    flex-flow: row wrap;
}

div{
    flex: 1; /*  indica la capacidad de un elemento flexible para alterar sus dimensiones  */
    /*un valor de 1, lo que significa que todos ocuparán una cantidad igual del espacio libre restante después de que se hayan establecido elementos como el área de relleno y el margen */
}

div:nth-of-type(3) { /*El tercer div ocupa el doble del ancho disponible que los otros 2*/
    flex: 2; /*ocupan 1/4 del espacio disponible cada uno. El tercero tiene dos unidades, por lo que ocupa 2/4 del espacio disponible (o 1/2). */
  }



  /*También puedes especificar un valor de tamaño mínimo dentro del valor flexible. Actualiza las reglas para tu artículo de la manera siguiente: */
    div {
    flex: 1 200px; 
  }
  
  div:nth-of-type(3) {
    flex: 2 200px; /*/*Esto establece básicamente que «a cada elemento flexible se le da primero 200px del espacio disponible. Después de eso, el resto del espacio disponible se reparte de acuerdo con las unidades de proporción». */ 
  }

  /*  
  flex es una propiedad abreviada que puede especificar hasta tres valores diferentes:

    flex-grow          El valor de proporción sin unidades 

   flex-shrink,         en segundo valor de proporción sin unidades,  que entra en juego cuando los elementos flexibles desbordan el contenedor. Especifica cuánto de la cantidad desbordada se quita al tamaño de cada elemento flexible para evitar que el contenedor se desborde. 
  
    flex-basis.        El valor de tamaño mínimo que ya hemos visto. Se puede especificar individualmente usando el valor 


no usar las propiedades flex sin abreviar a menos que realmente tengas que hacerlo (por ejemplo, para anular algo establecido previamente). Comportan mucho código añadido y suelen aportar confusión.

Hay además algunas abreviaturas de valores que cubren la mayoría de los casos de uso

flex: initial; el ítem se restablece con los valores iniciales de Flexbox

flex: auto; es como con flex:initial pero en este caso los ítems pueden crecer y llenar el contendor así como encoger si se requiere.

flex: none se crearán ítems flex totalmente inflexibles. Los ítems no pueden ni crecer ni encoger

  */



/* Ahora vamos a ver las alineaciones */

#box1{
    display: flex; /*Como ya hemos visto antes estamos dandole una propiedad flex al contenedor */
    justify-content: space-around; /* justify-content controla dónde se ubican los elementos flexibles sobre el eje principal/el que marca la flex-direction*/
    align-items: center; /*Con align-items controla dónde se ubican los elementos flexibles en el eje transversal/va perpendicular al principal. */
    gap: 10px; /* */
  
}




/*Propiedades para justify-content 

flex-start
Los items flex se colocan comenzando desde el comienzo principal. El margen del primer item es alineado al ras con el borde del comienzo principal de la línea y cada item siguiente es alineado al ras con el precedente.

flex-end
Los items flex se colocan comenzando desde el final principal. El margen del último item es alineado al ras con el borde del final principal de la línea y cada item precedente es alineado al ras con el siguiente.

center
Los items flex son colocados hacia el centro de la línea. Los items flex se alinean al ras entre sí y en torno al centro de la línea. El espacio entre el borde del comienzo principal de la línea y el primer item es el mismo que el espacio entre el borde del final principal y el último item de la línea.

space-between
Los items flex se distribuyen uniformemente sobre la línea. El espaciamiento se hace de tal manera que el espacio adyacente entre dos items es el mismo. El borde del comienzo principal y el borde del final principal se alinean al ras con el borde del primer y último item respectivamente.

space-around
Los items flex se alinean uniformemente de tal manera que el espacio entre dos items adyacentes es el mismo. El espacio vacío anterior al primer item y posterior al último item equivale a la mitad del espacio entre dos items adyacentes.

*/


/*Propiedades para align-items
flex-start
El límite del margen transversal inicial del elemento flexible es unido al borde transversal final de la línea.

flex-end
El límite del margen transversal final del elemento flexible es unido al borde transversal final de la línea.

center
Los márgenes del elemento flexible son centrados dentro de la línea sobre su eje transversal. Si el tamaño transversal del elemento es mayor al del contenedor, se excederá por igual en ambas direcciones.

start
Los elementos se agrupan uno junto al otro hacia el borde inicial del contenedor de alineación en el eje apropiado.

end
Los elementos se agrupan uno junto al otro hacia el borde final del contenedor de alineación en el eje apropiado.

baseline
Todos los elementos flexibles son ajustados de modo que sus bases queden alineadas. El elemento con la distancia mayor entre su límite transversal inicial y su base es combinado con el borde transversal de la línea.

stretch
Las elementos flexibles son estirados de modo que el tamaño transversal de sus límites sea el mismo de la línea, manteniendo sus restricciones de anchura y altura.

*/

/*Podemos ordenar los elemtos flexibles */

#box1__1{
  order: 2;
}

#box1__2{
  order: 3;
}

#box1__3{
  order: 1;
}

/*Puedes establecer valores de orden negativos para que los elementos aparezcan antes que los elementos establecidos con el valor 0*/