
@mixin estilo-layout($color, $border-color, $font-size){
    color: $color;
    border: $border-color;
    font-size: $font-size;


}


@function rem($value) {
    @return $value / 16px * 1rem;
  }

%text {
    text-align: center;
    color: red;
    
  }

div{
    @include estilo-layout(red,1px solid red, null);
    width: 80%;
    h1{

        @include estilo-layout(green, null, null);
        text-decoration: underline;
        text-decoration-color: blue;
        text-align: center;
        @extend %text;
    }
    h2{
        @extend %text;
        border: 1px solid red;
        padding: rem(16px);
        width: max-content;
        margin: 0 auto;
    }
    section{
        display: flex;
        padding-bottom: rem(10px);
        margin: rem(10px); 
    }
    article{
        @include estilo-layout(null, 1px solid green, null);
        text-align: center;
    }
    article:nth-child(odd){
        @include estilo-layout(blue, null, null)
    }
    article:nth-child(even){
        @include estilo-layout(red, null, null)

    }
    article:last-child{
        @include estilo-layout(green, 1px solid blue, null);
        margin: 0px auto;
    }
}


