table{
    border: 1px solid black;
    width: 50%;
}

table > caption{
    color: #263238;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 4px;
}

table > thead{
    color: white;
    background-color: #455a64;
    font-weight: 700;
}

tbody > tr:nth-child(even){
    background-color: #eceff1;
}

tbody > tr:nth-child(odd){
    background-color: #b0bec5;
}

table > tfoot{
    background-color: #78909c;
    font-weight: 800;
}

tbody > tr > td:nth-child(2){
    color: #003300;
}

tbody > tr > td:nth-child(3){
    color: #7f0000;
}

tbody > tr > td:nth-child(2), tbody > tr > td:nth-child(3), tfoot > tr > td:nth-child(2), tfoot > tr > td:nth-child(3){
    text-align: center;
}